* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url(./assets/images/search-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; */
  position: relative;
}
h3 {
  margin: 5px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* container  */

/* .container {
  background-image: url(./assets/images/search-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
} */

/* header  */

header {
}
.logo h1 {
  font-size: 2rem;
  font-family: "Rajdhani", sans-serif;
  color: white;
  margin-left: 1rem;
}

/* search  */
.search {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: baseline;
  top: 6rem;
  left: 47%;
  transform: translate(-50%, -50%);
}
.search input {
  width: 400px;
  position: relative;
}
.search .input-item {
  display: flex;
  flex-direction: column;
  width: 400px;
}
.search button {
  background-color: #000;
  color: white;
  /* height: 40px;
  padding: 5px; */
  margin-left: 20px;
  position: absolute;
  left: 12rem;
}
@media (min-width: 1400px) {
  .search button {
    margin-left: 40px;
  }
}
.search button:hover {
  cursor: pointer;
}
.search button:active {
  cursor: pointer;
}
.search input,
.search button {
  font-size: 20px;
  font-weight: 400;
  border: none;
  border-radius: 0.5rem;
  height: 40px;
  padding: 5px;
}

.search .suggestion {
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.082);
  font-weight: 300;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(0, 0, 0, 0.767);
}

@media (max-width: 576px) {
  .logo h1 {
    font-size: 1.6rem;
    margin-left: 0.5rem;
  }
  .search {
    left: 40%;
  }
  .search input {
    width: 200px;
    height: 200px;
  }
  .search .input-item {
    display: flex;
    flex-direction: column;
    width: 200px;
  }
  .search button {
    background-color: #000;
    color: white;
    transition: all 1s ease;
    margin-left: 6px;
    width: 50px;
    /* position: absolue; */
    left: 6.5rem;
  }
  .search button:hover {
    cursor: pointer;
    transform: translateY(-2px);
  }
  .search button:active {
    cursor: pointer;
    transform: translateY(3px);
  }

  .search input,
  .search button {
    padding: 2px;
    font-size: 10px;
    font-weight: 300;
    border-radius: 0.3rem;
    height: 30px;
  }

  .search .suggestion {
    padding: 0.4rem;
  }
}

/* main  */

.main {
  padding: 1rem;
  width: 85vw;
  margin: auto;
  box-shadow: 8px 3px 20px 2px black;
  margin-top: 7rem;
}

.main-wrapper {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid red; */
}
.main-item {
  /* border: 1px solid blue; */
  /* padding: 1rem; */
  color: white;
}
.main-item1 h1 {
  font-size: 2rem;
  font-family: "Rajdhani", sans-serif;
}

.main-item__sub {
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-around;
}

.main-item____sub {
  /* border: 1px solid blue; */
  padding: 0.5rem;
}

.weather_icon {
  /* border: 1px solid red; */
}

.main-item____sub h3 {
  font-size: 2rem;
  font-family: "Rajdhani", sans-serif;
  margin: 0;
}
.main-item____sub h2 {
  font-size: 1rem;
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  margin: 0;
}

.bottom {
  color: white;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 5rem;
}

.bottom h1 {
  font-size: 2rem;
  font-family: "Rajdhani", sans-serif;
  color: white;
}

/* slider  */

.slide-wrapper {
  display: flex;
  justify-content: space-around;
}
.slide-item {
  /* border: 1px solid red; */
  /* padding: 1rem; */
  /* height: 2rem; */
  box-shadow: 2px 0 5px 1px rgba(0, 0, 0, 0.253);
  text-align: center;
  padding: 5rem;
  margin-bottom: 5rem;
}
.slide-item div {
  padding: 1rem;
}

.main-item2 {
  min-width: 30%;
  display: flex;
  justify-content: space-around;
}
.main-item2 {
  background-color: rgba(255, 255, 255, 0.164);
  border-radius: 1rem;
}
.main-item2 > div {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
  margin: 0;
  align-items: center;
  padding: 0.4rem;
  padding-top: 0.8rem;
  /* padding-bottom: 1rem; */
}

@media (max-width: 576px) {
  .main-wrapper {
    flex-direction: column;
  }
  .main-item2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
  }
}

.input-item {
  position: absolute;
}

/* loader  */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-message {
  color: white;
  font-size: 36px;
  margin-top: 10rem;
  text-align: center;
}
